<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyEstacionamiento" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60045/Dominio/Servicio/MyEstacionamiento.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyEstacionamiento"
                contract="MyEstacionamiento.IMyEstacionamiento" name="BasicHttpBinding_IMyEstacionamiento" />
        </client>
    </system.serviceModel>
</configuration>